{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-3">
    {% for row in rows %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        'bg-gray-400/5 px-8 py-4 sm:px-10 sm:py-5',
        ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
    </div>
    {% endfor %}
</div>
