{# views-view-unformatted--product-reviews.html.twig #}
{# Template for rendering unformatted product reviews view #}

	{% for row in rows %}
		<div class="product-review"> {{ row.content }}
	</div>
{% endfor %}
