{#
    Template for the Product Reviews Block.
    File: block--product-reviews-block.html.twig
#}

<div class="product-reviews-block">
	<h2>{{ title }}</h2>
	<div class="reviews-content">
		{{ content }}
	</div>
</div>
