<div class="cart--cart-block">
    <div class="cart-block--summary">
        <a class="cart-block--link__expand group -m-2 flex items-center p-2 space-x-1" href="<%= url %>">
            <span class="cart-block--summary__icon"></span>
            <span class="cart-block--summary__count hidden text-sm sm:block"><%= count_text %></span>
            <span class="sr-only">in cart, view cart</span>
        </a>
    </div>
</div>
