{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% set classes = [
    'mx-auto',
    'max-w-7xl',
    'px-4',
    'pt-5',
    'pb-12',
    'sm:px-6',
    'lg:px-8',
    'lg:pt-6',
    'lg:pb-15',
  ]
%}
<form{{ attributes.addClass(classes) }}>
  <div class="lg:grid lg:grid-cols-5 lg:gap-5 xl:gap-6 lg:relative">
  {{ children }}
  </div>
</form>
